<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FarmTick.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FarmTick.Properties.Settings>
            <setting name="Timer60Sec" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Timer10Sec" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRiped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCapture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CapturerEngine" serializeAs="String">
                <value>Fiddler</value>
            </setting>
            <setting name="MuteMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyWindow" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NotifySound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NameMode" serializeAs="String">
                <value>0</value>
            </setting>
        </FarmTick.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
